.ingredient {
	position: relative;
	display: inline-block;
	font-size: 4em;
	padding: .6em;
	font-weight: 200;
}


.ingredient .tooltip {
	visibility: hidden;
	width: fit-content;
	text-align: center;
	padding: .25em;
	margin: .5em;
	z-index: 1;
	font-size: .5em;
	opacity: 0;
	filter: alpha(opacity=0);
	vertical-align: middle;

	-webkit-transition: all 0.3s ease;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease;
 	transition: all 0.3s ease-in-out;
}

.ingredient:hover .tooltip {
	visibility: visible;
	opacity: 1;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.requirement-row {
	border-bottom: 1px solid black;
	height: 5em;
	padding: 1em;
}

.quantity-cell {
	font-size: 4em;
	padding: .6em;
}

.measurement {
	font-size: 2.5em;
	font-style: italic;
	padding: .6em;
	text-align: center;
}

.new-directions {
	font-size: 3em;
	font-weight: 200;
}

.direction {
	border-bottom: 1px solid black;
	list-style: decimal;
	padding: 1.5em;
}

.new-recipe-title {
	text-align: center;
	font-size: 5em;
	font-family: nyt-cheltenham;
	margin: 1em;
}

.new-recipe-subtitle {
	text-align: center;
	font-size: .5em;
}

.ingredients-table {
	margin: 2em;
	width: -webkit-fill-available;
}

.picture-container {
	text-align: center;
}

.link {
	color: black;
}

.link:visited {
	color: black;
}

.link:link {
	color: black;
}